In [1]:
import pandas as pd
from sqlalchemy import create_engine, text
import psycopg2

import os

In [2]:
project_dir = os.path.abspath(r'C:\Users\victo\OneDrive - University of Leeds\Documents\Uni Work\Project\MIMIC Work\Liver Cancer Prediction\liver_pred')

In [3]:
sql_dir = os.path.join(project_dir, 'liver_pred', 'utils', 'SQL queries')

SQL Engine

In [4]:
engine = create_engine('postgresql+psycopg2://postgres:postgres@localhost:5432/mimic4')    ####### would need to be parameterised for different SQL connections

Create characteristics table

In [5]:
with  open(sql_dir+'/characteristics.txt') as file:
    statements = file.read().replace("\n", " ").split(';')

with engine.connect() as connection:
    for statement in statements:
        result = connection.execute(text(statement))

In [6]:
with  open(sql_dir+'/liver_cancer_patients.txt') as file:
    statements = file.read().replace("\n", " ").split(';')

with engine.connect() as connection:
    for statement in statements:
        connection.execute(text(statement))

In [7]:
from pathlib import Path

In [8]:
### Set pathnames
project_dir = Path(r'C:\Users\victo\OneDrive - University of Leeds\Documents\Uni Work\Project\MIMIC Work\Liver Cancer Prediction\liver_pred')
utils_dir = project_dir/"liver_pred"/"utils"
data_dir = project_dir/"data"
sql_query_dir = utils_dir / "SQL queries"

### Setup postrges connection
pg_engine = create_engine(
    "postgresql+psycopg2://postgres:postgres@localhost:5432/mimic4"
)

In [9]:
def load_sql_from_text(file_name, engine, **kwargs):
    """Run SQL queries stored at .txt files using specified SQL engine and return the relevant data.

    :param file_name: Title of SQL .txt file name stored in dir 'SQL queries'
    :type file_name: str
    :param engine: Established SQLalchemy engine to connect to relevant database
    :type engine: SQLalchemy Engine()
    :param col_dtypes: Dict of datatypes for returned dataframe columns
    :type col_dtypes: dict
    :return: DataFrame of return SQL queries
    :rtype: Pandas DataFrame
    """
    with open(sql_query_dir / file_name) as file:
        query = file.read().replace("\n", " ").replace("%", "%%")

    results = pd.read_sql_query(query, engine, **kwargs)
    return results

In [10]:
cases = load_sql_from_text("liver_cancer_patients.txt", engine=pg_engine)

In [11]:
characteristics = pd.read_sql_query(
    "Select * From mimiciv_derived.characteristics", pg_engine
)
case = characteristics[characteristics['gender']=='F']
control= characteristics[characteristics['gender']=='M']

In [20]:
import numpy as np

In [24]:
patients = pd.read_csv(project_dir/"data/interim/matched_cohort_ids.csv")

      Unnamed: 0  subject_id   hadm_id  outcome
0              0    10006029  20850584        1
1          25352    11353433  21473874        0
2          14188    10729024  23390811        0
3          17145    10898862  26424475        0
4          20508    11091187  26857576        0
...          ...         ...       ...      ...
8155      153546    18496540  26496775        0
8156      106306    15872263  26143796        0
8157      173117    19571336  24946473        0
8158      164459    19096835  24927677        0
8159      176252    19751438  23395859        0

[8160 rows x 4 columns]