In [39]:
import pandas as pd
from sqlalchemy import create_engine, text
import psycopg2

import os

In [40]:
project_dir = os.path.abspath(r'C:\Users\victo\OneDrive - University of Leeds\Documents\Uni Work\Project\MIMIC Work\Liver Cancer Prediction\liver_pred')

In [41]:
sql_dir = os.path.join(project_dir, 'liver_pred', 'utils', 'SQL queries')

SQL Engine

In [42]:
engine = create_engine('postgresql+psycopg2://postgres:postgres@localhost:5432/mimic4')    ####### would need to be parameterised for different SQL connections

Create characteristics table

In [43]:
with  open(sql_dir+'/characteristics.txt') as file:
    statements = file.read().replace("\n", " ").split(';')

with engine.connect() as connection:
    for statement in statements:
        result = connection.execute(text(statement))

In [44]:
with  open(sql_dir+'/liver_cancer_patients.txt') as file:
    statements = file.read().replace("\n", " ").split(';')

with engine.connect() as connection:
    for statement in statements:
        connection.execute(text(statement))

In [45]:
from pathlib import Path

In [46]:
### Set pathnames
project_dir = Path(r'C:\Users\victo\OneDrive - University of Leeds\Documents\Uni Work\Project\MIMIC Work\Liver Cancer Prediction\liver_pred')
utils_dir = project_dir/"liver_pred"/"utils"
data_dir = project_dir/"data"
sql_query_dir = utils_dir / "SQL queries"

### Setup postrges connection
pg_engine = create_engine(
    "postgresql+psycopg2://postgres:postgres@localhost:5432/mimic4"
)

In [49]:
def load_sql_from_text(file_name, engine, **kwargs):
    """Run SQL queries stored at .txt files using specified SQL engine and return the relevant data.

    :param file_name: Title of SQL .txt file name stored in dir 'SQL queries'
    :type file_name: str
    :param engine: Established SQLalchemy engine to connect to relevant database
    :type engine: SQLalchemy Engine()
    :param col_dtypes: Dict of datatypes for returned dataframe columns
    :type col_dtypes: dict
    :return: DataFrame of return SQL queries
    :rtype: Pandas DataFrame
    """
    with open(sql_query_dir / file_name) as file:
        query = file.read().replace("\n", " ").replace("%", "%%")

    results = pd.read_sql_query(query, engine, **kwargs)
    return results

In [48]:
cases = load_sql_from_text("liver_cancer_patients.txt", engine=pg_engine)

TypeError: sqlalchemy.cyextension.immutabledict.immutabledict is not a sequence

In [56]:
characteristics = pd.read_sql_query(
    "Select * From mimiciv_derived.characteristics", pg_engine
)
case = characteristics[characteristics['gender']=='F']
control= characteristics[characteristics['gender']=='M']

In [57]:
t, c = [i.copy().reset_index(drop=True) for i in (case, control)]

In [59]:
case

,subject_id,hadm_id,admission_type,gender,race,age_at_admission,rank
0,10000032,22595853,URGENT,F,WHITE,52.348669,1
1,10000032,22841357,EW EMER.,F,WHITE,52.487854,2
2,10000032,29079034,EW EMER.,F,WHITE,52.561108,3
3,10000032,25742920,EW EMER.,F,WHITE,52.597973,4
4,10000068,25022803,EU OBSERVATION,F,WHITE,19.170767,1
...,...,...,...,...,...,...,...
431204,19999565,20486927,EW EMER.,F,WHITE,66.424525,1
431207,19999733,27674281,EU OBSERVATION,F,WHITE,19.518507,1
431226,19999828,29734428,EW EMER.,F,WHITE,46.543614,1
431227,19999828,25744818,EW EMER.,F,WHITE,48.022126,2
431230,19999987,23865745,EW EMER.,F,UNKNOWN,57.838095,1

In [61]:
c.index += len(t)

In [62]:
c.index

RangeIndex(start=224990, stop=431231, step=1)

In [63]:
minority, majority = [i[1] for i in sorted(zip([65, 905],
                                                                 [1, 0]),
                                                             key=lambda x: x[0])]

In [64]:
minority

1

In [65]:
[i[1] for i in sorted(zip([65, 905],
                                                                 [1, 0]),
                                                             key=lambda x: x[0])]

[1, 0]

In [66]:
"Q('{}')".format('Diagnosis')

"Q('Diagnosis')"

In [68]:
import numpy as np

In [72]:
int(np.ceil((30000 / 3000) / 10) * 10)

10

In [73]:
np.ceil((3000 / 30000) / 10)

1.0